html {
}

body {
    font-family:pt-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
    /* make sure if no theme kicks in our text is legible */
    background:#000;
    color:#fff;
}

.wrapper {
    max-width:1100px;
    margin-left:auto;
    margin-right:auto;
}

.header {
    padding-top:$base-spacing-unit;
    border-bottom:1px solid gray;
    background:white;
    margin-bottom:$base-spacing-unit;

    a {
        color:#3d3d3d;
    }
}

.header__nav {
    margin-bottom:0;
}

.header__nav > li {
    margin-left:2em;
}

.header__dolly {
    position:relative;
    margin-bottom:$base-spacing-unit;
}

.header__camera {
    width:0px;
    height:2px;
}

.hero {
    font-family:"proxima-nova";
}
