html {
    background: #141414;
}

body {
    font-family:rooney-web;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
    /* make sure if no theme kicks in our text is legible */
    background:#000;
    color:#fff;
}

.wrapper {
    max-width:1100px;
    margin-left:auto;
    margin-right:auto;
}

h1,h2,h3,
h4,h5,h6 {
    font-family:"proxima-nova";
}

.logo {
    float:left;

    > img {
        display:block;
    }
}
