.form {
    margin-bottom:$base-spacing-unit;
}

.text-input {
    border:1px solid #999;
    width:50%;
    padding:4px;
    color:gray;
    @include vendor(box-shadow, 0px 0px 8px rgba(0, 0, 0, 0.3));
}

textarea {
    height:$base-spacing-unit*3;
}

.btn {
    border-radius:4px;
}

.btn-primary {
    background-color:#e6e6e6;
    color:#333333;
    border:1px solid #bbb;
}

@include media-query(palm) {
    .text-input, .btn {
        width:100%;
    }
        
}

.error > .text-input,
.error__help {
    color:#B94A48;
}
