.hero__title {
    @include media-query(lap-and-up) {
        @include font-size(64px);
    }
}

.hero__copy {
    @include media-query(lap-and-up) {
        @include font-size(30px);
    }
}

.inner {
    border-bottom:1px solid gray;
}

.article {
    margin-bottom:$base-spacing-unit;
}

.article--full {
    padding-bottom:$base-spacing-unit;
}

.article__heading {
    margin-bottom:0;
}

.article-meta {
    margin-bottom:$base-spacing-unit;
    @include font-size(14px);
}

.bump-out {
    padding:$half-spacing-unit;
    border-radius:5px;
}

.split-after:after,
.split-before:before {
    content:" // ";
}

.comments {
    margin-bottom:$base-spacing-unit;
}

.comments__existing {
    margin-bottom:$base-spacing-unit;
}

.comments__comment {
    padding:$half-spacing-unit;
}

.comments__closed {
    padding-left:$half-spacing-unit;
    padding-right:$half-spacing-unit;
}

.comments__author {
    font-weight:bold;
}

.gist {
    font-size:$half-spacing-unit;
    
    table {
        margin-bottom:0;
    }
}

pre {
    white-space:pre;
    word-wrap:normal;
    border-radius:5px;
    padding:$half-spacing-unit;
}
