.inner {
    border-bottom:1px solid gray;
}

.article {
    margin-bottom:$base-spacing-unit;
}

.article__heading {
    margin-bottom:0;
}

.article-meta {
    margin-bottom:$base-spacing-unit;
    @include font-size(14px);
}

.article--full {
    border-bottom:none;
}

.article-options {
    padding:$half-spacing-unit;
    border-radius:5px;
}

.split-after:after,
.split-before:before {
    content:" // ";
}
