@mixin theme($name, $background, $colour) {
    .theme--#{$name} {
        background:$background;
        color:$colour;
        .inner a {
            color:$colour;
            font-weight:bold;
        }
    }
}

@include theme(default, #7C2129, #fff);
@include theme(dark-blue, #2b395f, #cdd5a7);
@include theme(blue, #183a67, #e8e1D8);
@include theme(green, #8db654, #ecead6);
@include theme(orange, #d79656, rgb(70,70,70));
