@mixin theme($name, $background, $colour) {
    .theme--#{$name} {
        background:$background;
        color:$colour;

        .inner {
            border-bottom:1px solid desaturate($background, 80%);

            a {
                color:darken($colour, 15%);

                &:hover {
                    color:darken($colour, 12%);
                }
            }
        }

        .header__camera {
            // the camera trail is quite hard to see so
            // let's brighten it up a bit
            background:lighten($background, 20%);
        }

        .article {
            border-bottom:1px solid lighten($colour, 0%);
        }

        .bump-out {
            background:darken($background, 5%);
        }

        pre {
            background:darken($background, 10%);
            color:lighten($colour, 10%);
        }

        .comments__comment:nth-child(odd) {
            background:darken($background, 10%);
        }

        .comments__comment:nth-child(even) {
            background:darken($background, 13%);
        }
    }
}

@mixin theme-inverted($name, $background, $colour, $header) {
    @include theme(#{$name}-inverted, $background, $colour);
    .theme--#{$name}-inverted {
        .header {
            color: $background;
            background: $header;

            a {
                //font-weight:bold;
                color: $background;
            }
        }

        .inner {
            a {
                color:lighten($colour, 2%);

                &:hover {
                    color:lighten($colour, 5%);
                }
            }
        }

        .header__camera {
            background: $colour;
        }

        h1,h2,h3,
        h4,h5,h6 {
            text-shadow: 0 1px 1px rgba(0,0,0,0.1);
        }
    }
}

@include theme(dark-blue, #3b5192, #DFE2D2);
@include theme(brown, #7F5F39, #e8e1D8);
@include theme(faded-blue, #54949B, #f0f0f0);
@include theme(green, #83A850, #ecead6);
@include theme(redbrick, #C14444, rgb(255, 252, 178));
@include theme(army, #646f1d, #ebe0c2);
@include theme(burgundy, #451717, #EEF8ED);
@include theme(purple, #2E1525, #EDF2E3);
@include theme(mustard, #EABA22, #fff);
@include theme(paper, #f0f0f0, #141414);
@include theme-inverted(xmas, #eeeeee, #333, #386136);
@include theme-inverted(neon, #efefef, #333, #B40E4D);
