@mixin theme($name, $background, $colour) {
    .theme--#{$name} {
        background:$background;
        color:$colour;

        .inner {
            border-bottom:1px solid desaturate($background, 80%);

            a {
                color:$colour;
            }

            a:hover {
                color:darken($colour, 15%);
            }
        }

        .header__camera {
            // the camera trail is quite hard to see so
            // let's brighten it up a bit
            background:lighten($background, 20%);
        }

        .article {
            border-bottom:1px solid lighten($colour, 0%);
        }

        .article-options {
            background:darken($background, 5%);
        }
    }
}

@include theme(dark-blue, #2b395f, #cdd5a7);
@include theme(brown, #7F5F39, #e8e1D8);
@include theme(green, #83A850, #ecead6);
@include theme(redbrick, #C14444, rgb(255, 252, 178));
@include theme(army, #3b4116, #ebe0c2);
@include theme(burgundy, #451717, #EEF8ED);
@include theme(purple, #2E1525, #EDF2E3);
