body {
    padding-top:40px;
}

/* NB topbar active nav hover is broken at the mo */
.topbar .topbar-inner li a {
    color:#BFBFBF;
}


/**
 * basic theme transition setup stuff
 */
#header {
    -webkit-transition: background 2s;
}

a {
    -webkit-transition: color 2s;
}

#header {
    padding:2em;
    margin-bottom:2em;
}

/**
 * theme specific colours
 */

/**
 * default (purplish)
 */
.default #header {
    background: #a90329; /* Old browsers */
}

.default a {
    color:#AB0027;
}

.default a:hover {
    color:#7D001D;
}

/**
 * blue
 */
.blue #header {
    background: #6db3f2; /* Old browsers */
}

.blue a {
    color: #66C9FF;
}

.blue a:hover {
    color:#38B9FF;
}

/**
 * green
 */
.green #header {
    background: rgb(157,213,58); ; /* Old browsers */
}

.green a {
    color: #55A13B;
}

.green a:hover {
    color:#3E772B;
}

#header h1 {
    color:#fff;
    text-shadow:0 1px 2px rgba(0, 0, 0, 0.5);
    margin-bottom:0;
}

.post {
    margin-bottom:1em;
}

.post .author {
    font-weight:bold;
}

.post h2 {
    margin-bottom:0.5em;
}

#posts .post {
    /*border-bottom:1px solid #ddd;*/
    padding-bottom:1em;
}

#posts .post .page-header {
    /* don't want the effects of this on the main listings */
    margin-bottom:0;
    border-bottom:none;
}

#comments .comment {
    padding:1em 0;
    border-bottom:1px solid #ddd;
}

#comments .submitted {
    padding: 1em;
    background: #efe;
    border: 1px solid #dfd;
}

#comments .commenter {
    display:block;
    font-weight:bold;
}

#comments .comment time {
    font-size:0.8em;
}

a mark {
    background:#eef;
    border:1px solid #ddf;
    padding: 0.1em 0.25em;
    color:inherit;
}

.post .content {
    margin:1em 0;
}

.topbar {
    z-index:10;
}

.topbar form {
    float:right;
}

.page-header iframe {
    float:right;
}

span.git-red {
    color:#ff0000;
}
span.git-green {
    color:#00ff00;
}
span.git-blue {
    color:#0000ff;
}

#comments .alert-message {
    margin-top:1em;
}

#comments .comment:nth-child(even) {
    background:#f7f7f7;
}

.post .gist {
    padding:0.8em 0;
}

.options {
    border:1px solid #ccc;
    border-width:1px 0;
    padding:10px 10px 6px;
    margin:20px 0;
}

div.small p {
    font-size:11px;
}

.tiny label {
    font-size:11px;
}

li {
    color:inherit;
}

abbr {
    border-bottom:1px dashed #aaa;
}

.captioned {
    margin:3em 0;
}

.captioned p{
    font-size:80%;
    text-align:center;
}

img.inline-right {
    float:right;
    margin:0 0 0.5em 0.5em;
}

img.inline-right.border {
    border:1px solid black;
}

#footer .copyright {
    float:left;
}

#footer .well {
    text-align:center;
}

#footer .company-info {
    font-size:85%;
}

#footer .feedback {
    float:right;
}
