body {
    padding-top:40px;
}

/**
 * bootstrap / theme related overrides
 */
.navbar .navbar-inner li a {
    color:#BFBFBF;
}

.navbar .navbar-inner .active a {
    color:#fff;
}

.navbar .brand:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color:#fff;
}

.page-header {
    margin-top:0;
    padding:0;
    margin-bottom:17px;
}

/**
 * basic theme transition setup stuff
 */
.transition #header,
.transition .label {
    -webkit-transition: background-color 1.0s;
       -moz-transition: background-color 1.0s;
        -ms-transition: background-color 1.0s;
         -o-transition: background-color 1.0s;
            transition: background-color 1.0s;
}

.transition a {
    -webkit-transition: color 1.0s;
       -moz-transition: color 1.0s;
        -ms-transition: color 1.0s;
         -o-transition: color 1.0s;
            transition: color 1.0s;
}


#header {
    padding:2em;
    margin-bottom:2em;
}

/**
 * theme specific colours
 */

/**
 * default (purplish)
 */
.default #header {
    background: #a90329;
}

.default a {
    color:#AB0027;
}

.default a:hover {
    color:#7D001D;
}

.default .label {
    background-color: #AB0027;
}

/**
 * dark blue
 */
.darkblue #header {
    background:#1700E4;
}

.darkblue a {
    color: #1200B0;
}

.darkblue a:hover {
    color:#0B006A;
}

.darkblue .label {
    background-color: #1200B0;
}

/**
 * blue
 */
.blue #header {
    background: #6db3f2;
}

.blue a {
    color: #66C9FF;
}

.blue a:hover {
    color:#38B9FF;
}

.blue .label {
    background-color: #66C9FF;
}

/**
 * green
 */
.green #header {
    background: rgb(157,213,58);
}

.green a {
    color: #55A13B;
}

.green a:hover {
    color:#3E772B;
}

.green .label {
    background-color: #55A13B;
}

/**
 * orange
 */
.orange #header {
    background: #E17F00;
}

.orange a {
    color: #D87B00;
}

.orange a:hover {
    color:#C97200;
}

.orange .label {
    background-color: #D87B00;
}

/**
 * red
 */
.red #header {
    background: #CE1800;
}

.red a {
    color: #B61500;
}

.red a:hover {
    color:#8E1100;
}

.red .label {
    background-color: #B61500;
}

/**
 * end of themey stuff
 */

#header h1 {
    color:#fff;
    text-shadow:0 1px 2px rgba(0, 0, 0, 0.5);
    margin-bottom:0;
}

.post {
    margin-bottom:1em;
}

.post .author {
    font-weight:bold;
}

.post h2 {
    margin-bottom:10px;
    border-bottom:1px solid #ddd;
}

.post .tags {
    text-align:right;
    margin-top:-10px;
    margin-bottom:0.2em;
}

.tags .intro {
    background-color:#fff;
    color:inherit;
    display:none;
}

#posts .post {
    /*border-bottom:1px solid #ddd;*/
    padding-bottom:1em;
}

#comments .comment {
    padding:1em 0;
    border-bottom:1px solid #ddd;
}

#comments .submitted {
    padding: 1em;
    background: #efe;
    border: 1px solid #dfd;
}

#comments .commenter {
    display:block;
    font-weight:bold;
}

#comments .comment time {
    font-size:0.8em;
}

a mark {
    background:#eef;
    border:1px solid #ddf;
    padding: 0.1em 0.25em;
    color:inherit;
}

.post .content {
    margin:1em 0;
}

.topbar {
    z-index:10;
}

.topbar form {
    float:right;
}

.page-header iframe {
    float:right;
}

span.git-red {
    color:#ff0000;
}
span.git-green {
    color:#00ff00;
}
span.git-blue {
    color:#0000ff;
}

#comments .alert {
    margin-top:1em;
}

#comments .comment:nth-child(even) {
    background:#f7f7f7;
}

.post .gist {
    padding:0.8em 0;
}

.options {
    border:1px solid #ccc;
    border-width:1px 0;
    padding:10px 10px 6px;
    margin:20px 0;
}

div.small p {
    font-size:11px;
}

.tiny label {
    font-size:11px;
}

li {
    color:inherit;
}

abbr {
    border-bottom:1px dashed #aaa;
}

.captioned {
    margin:3em 0;
}

.captioned p{
    font-size:80%;
    text-align:center;
}

img.inline-right {
    float:right;
    margin:0 0 0.5em 0.5em;
}

img.inline-right.border {
    border:1px solid black;
}

#footer .copyright {
    float:left;
}

#footer .well {
    text-align:center;
}

#footer .company-info {
    float:right;
    font-size:90%;
}

/**
 * labels
 */

/*
 .label.opinion {
    background-color:#00f;
}

.label.agile {
    background-color:#FFAF54;
}

.label.domains,
.label.tdd {
    background-color:#46A546;
}

.label.apache {
    background-color:#FF54D7;
}

.label.arduino {
    background-color:#145E01;
}

.label.github {
    background-color:#62CFFC;
}

.label.node_js {
    background-color:#8BC84B;
    color:#46483E;
}

.label.twitter {
    background-color:#437EA1;
}

.label.ci {
    background-color:#D24939;
}

.label.git {
    background-color:#9AB54F;
}

.label.jaoss {
    background-color:#BFD255;
}

.label.javascript {
    background-color:#FFEC1C;
    color:#000
}

.label.mysql {
    background-color:#E97B00;
}

.label.php {
    background-color:#99C;
    color:#009;
}

.label.zeromq {
    background-color:red;
}

.label.websockets,
.label.websocket {
    background-color:#A44505;
}

.label.xbee {
    background-color:#005ABA;
}

.label.jquery {
    background-color:#0D5995;
}

.label.server_administration {
    background-color:#423991;
}

.label.off_topic,
.label.source_control {
    background-color:#919600;
}

.label.versioning {
    background-color:#E6BB00;
}
*/

a.label {
    color:white;
}

a.label:hover {
    color:#eee;
}

a.label mark {
    background-color:inherit;
    border:1px dotted;
    font-style:italic;
}

.alert a {
    color:#404040;
}

.welcome h2 {
    font-size:20px;
}

.alert.welcome p {
    margin-bottom:inherit;
    margin-right:inherit;
}

.alert.welcome {
    background:#fafafa;
    border-color:#F7E6EA;
    color:#333;
    padding-bottom:0;
}

.alert.welcome a {
    font-weight:bold;
}

a.btn,
a.btn:hover {
    color:#333;
}

#posts hr {
    margin:0 4em;
}

/**
 * media gubbins
 */
@media (max-width: 980px) {
    body {
        padding-top:0;
    }

    .navbar-fixed-top {
        margin-bottom:0;
    }
}

@media (max-width:768px) {
    .supplementary {
        display:none;
    }
    #header h1 {
        font-size:26px;
    }
    #posts h2 {
        font-size:20px;
    }
    .welcome h2 {
        float:left;
        margin-right:0.5em;
    }
}

@media (max-width:480px) {
    #header {
        padding:1em;
    }
    #header h1 {
        font-size:18px;
    }
    #header .container {
        padding:0;
    }
}
