/**
 * @foo
 */
body {
    padding-top:40px;
}

#header {
    padding:1em;
    background: #d2ff52; /* Old browsers */
    background: -moz-linear-gradient(top, #d2ff52 0%, #91e842 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2ff52), color-stop(100%,#91e842)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d2ff52 0%,#91e842 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d2ff52 0%,#91e842 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #d2ff52 0%,#91e842 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #d2ff52 0%,#91e842 100%); /* W3C */
}

.post {
    margin-bottom:1em;
    border-bottom:1px solid #ddd;
}


#comments .comment {
    padding:1em 0;
    border-bottom:1px solid #ddd;
}

#comments .submitted {
    padding: 1em;
    background: #efe;
    border: 1px solid #dfd;
}
