DirectorySlash Off
RewriteEngine On
# catch live URLs ending with a slash
RewriteRule ^(.+)/$ http://paynedigital.com/$1 [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule .* index.php [L]
RewriteRule .* profile.php [L]
# uncomment the below to route all requests via xhprof
# be sure to comment out the rewrite rule above too!
# RewriteRule .* xhprof.php [L]

# @see https://github.com/makeusabrew/paynedigital.com/issues/8
RedirectMatch ^/(\d{4})/(\d{2})$            /articles/$1/$2
RedirectMatch ^/(\d{4})/(\d{2})/([\w-]+)$   /articles/$1/$2/$3
RedirectMatch ^/tag/([a-z0-9\s\.]+)$        /articles/tag/$1
